# Setup

In [19]:
# ! pip install datasets
# ! pip install pandas
# ! python.exe -m pip install --upgrade pip
# ! pip install matplotlib

In [20]:
from datasets import load_dataset
import pandas as pd

dataset = load_dataset("climate_fever")

In [21]:
def pd_set_see_full_dataframe():
    # Permanently changes the pandas settings
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    # pd.set_option('display.max_colwidth', -1)

def pd_reset_options():
    # Resets the options
    pd.reset_option('all')

def display_whole_df(df):
    pd_set_see_full_dataframe()
    display(df)
    pd_reset_options()

# Climate Dataset 

Label 
- 0: "supports", 
- 1: "refutes", 
- 2: "not enough info" 
- 3: "disputed".

In [22]:
df_climate_dataset = pd.DataFrame()

for x in dataset.keys():
    df_climate_dataset = pd.concat([df_climate_dataset, dataset[x].to_pandas()], axis=0, ignore_index=True)

Rename/Reorganizing Labels

In [23]:
# display_whole_df(df_climate_dataset)
df_climate_dataset = df_climate_dataset.rename(columns={'claim_label': 'label', 'claim': 'text', 'evidences':'metadata'})
df_climate_dataset.head()

,claim_id,text,label,metadata
0,0,Global warming is driving polar bears toward e...,0,[{'evidence_id': 'Extinction risk from global ...
1,5,The sun has gone into ‘lockdown’ which could c...,0,"[{'evidence_id': 'Famine:386', 'evidence_label..."
2,6,The polar bear population has been growing.,1,"[{'evidence_id': 'Polar bear:1332', 'evidence_..."
3,9,Ironic' study finds more CO2 has slightly cool...,1,"[{'evidence_id': 'Atmosphere of Mars:131', 'ev..."
4,10,Human additions of CO2 are in the margin of er...,1,[{'evidence_id': 'Carbon dioxide in Earth's at...

In [24]:
df_climate_dataset = df_climate_dataset[['text', 'label', 'metadata']]
df_climate_dataset.head()

,text,label,metadata
0,Global warming is driving polar bears toward e...,0,[{'evidence_id': 'Extinction risk from global ...
1,The sun has gone into ‘lockdown’ which could c...,0,"[{'evidence_id': 'Famine:386', 'evidence_label..."
2,The polar bear population has been growing.,1,"[{'evidence_id': 'Polar bear:1332', 'evidence_..."
3,Ironic' study finds more CO2 has slightly cool...,1,"[{'evidence_id': 'Atmosphere of Mars:131', 'ev..."
4,Human additions of CO2 are in the margin of er...,1,[{'evidence_id': 'Carbon dioxide in Earth's at...

Binning the label values

In [25]:
df_climate_dataset['label'].value_counts()

label
0    654
2    474
1    253
3    154
Name: count, dtype: int64

In [26]:
df_climate_dataset_true = df_climate_dataset.loc[df_climate_dataset['label'] == 0]
df_climate_dataset_false = df_climate_dataset.loc[df_climate_dataset['label'] == 1]

In [27]:
df_climate_dataset_true['label'].value_counts()

label
0    654
Name: count, dtype: int64

In [28]:
df_climate_dataset_false['label'].value_counts()

label
1    253
Name: count, dtype: int64

In [30]:
df_climate_dataset = pd.concat([df_climate_dataset_true, df_climate_dataset_false], ignore_index=True)

In [31]:
df_climate_dataset['label'].value_counts()

label
0    654
1    253
Name: count, dtype: int64

In [35]:

df_climate_dataset.to_feather('../data/science/climate_dataset.feather')