# Setup

In [86]:
# ! pip install datasets
# ! pip install pandas
# ! python.exe -m pip install --upgrade pip
# ! pip install matplotlib

In [87]:
from datasets import load_dataset
import pandas as pd

In [88]:
def pd_set_see_full_dataframe():
    # Permanently changes the pandas settings
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    # pd.set_option('display.max_colwidth', -1)

def pd_reset_options():
    # Resets the options
    pd.reset_option('all')

def display_whole_df(df):
    pd_set_see_full_dataframe()
    display(df)
    pd_reset_options()

## Imports and Merge

#### Liar Dataset (HuggingFace)

Labels
* '0': 'false'
* '1': half-true
* '2': mostly-true
* '3': 'true'
* '4': barely-true
* '5': pants-fire

In [89]:
liar_dataset = load_dataset("liar")

In [90]:
liar_dataset

DatasetDict({
    train: Dataset({
        features: ['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'],
        num_rows: 10269
    })
    test: Dataset({
        features: ['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'],
        num_rows: 1283
    })
    validation: Dataset({
        features: ['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'],
        num_rows: 1284
    })
})

In [91]:
df_liar_dataset = pd.DataFrame()

for x in liar_dataset.keys():
    df_liar_dataset = pd.concat([df_liar_dataset, liar_dataset[x].to_pandas()], axis=0, ignore_index=True)

In [92]:
df_liar_dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12836 entries, 0 to 12835
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    12836 non-null  object
 1   label                 12836 non-null  int64
 2   statement             12836 non-null  object
 3   subject               12836 non-null  object
 4   speaker               12836 non-null  object
 5   job_title             12836 non-null  object
 6   state_info            12836 non-null  object
 7   party_affiliation     12836 non-null  object
 8   barely_true_counts    12836 non-null  float32
 9   false_counts          12836 non-null  float32
 10  half_true_counts      12836 non-null  float32
 11  mostly_true_counts    12836 non-null  float32
 12  pants_on_fire_counts  12836 non-null  float32
 13  context               12836 non-null  object
dtypes: float32(5), int64(1), object(8)
memory usage: 1.1+ MB

In [93]:
# display_whole_df(df_liar_dataset)
df_liar_dataset.head()

,id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,0,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,1,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,2,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,0,Health care reform legislation is likely to ma...,health-care,blog-posting,,,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,1,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [94]:
# Possible subject labels
# set(df_liar_dataset['subject'].tolist())

#### Fake News Dataset
labels
* 1: unreliable
* 0: reliable

In [95]:
df_fake_news_dataset = pd.read_csv("../data/politics/Fake News Dataset/train.csv")

In [96]:
df_fake_news_dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [97]:
# display_whole_df(df_fake_news_dataset)
df_fake_news_dataset.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

#### ISOT Dataset

labels 
* 0 == true 
* 1 == false

In [98]:
df_isot_dataset_true= pd.read_csv("../data/politics/ISOT Dataset/True.csv")
df_isot_dataset_false= pd.read_csv("../data/politics/ISOT Dataset/Fake.csv")

In [99]:
df_isot_dataset_true.info(verbose=True)
df_isot_dataset_false.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [100]:
df_isot_dataset_true['label'] = 0
df_isot_dataset_false['label'] = 1

In [101]:
df_isot_dataset = pd.concat([df_isot_dataset_true, df_isot_dataset_false], axis=0, ignore_index=True)

In [102]:
# display_whole_df(df_fake_news_dataset)
display(df_isot_dataset.head())
set(df_isot_dataset['subject'].tolist())

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

{'Government News',
 'Middle-east',
 'News',
 'US_News',
 'left-news',
 'politics',
 'politicsNews',
 'worldnews'}

#### Politifact Dataset
label
* verdict: The verdict of fact check in one of 6 categories {true, mostly-true, half-true, mostly-false, false, and pants-fire}

In [103]:
df_politifact_dataset = pd.read_json('../data/politics/politifact/politifact_factcheck_data.json', lines=True)

In [104]:
df_politifact_dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21152 entries, 0 to 21151
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   verdict                  21152 non-null  object
 1   statement_originator     21152 non-null  object
 2   statement                21152 non-null  object
 3   statement_date           21152 non-null  object
 4   statement_source         21152 non-null  object
 5   factchecker              21152 non-null  object
 6   factcheck_date           21152 non-null  object
 7   factcheck_analysis_link  21152 non-null  object
dtypes: object(8)
memory usage: 1.3+ MB

In [105]:
df_politifact_dataset.head()

,verdict,statement_originator,statement,statement_date,statement_source,factchecker,factcheck_date,factcheck_analysis_link
0,true,Barack Obama,John McCain opposed bankruptcy protections for...,6/11/2008,speech,Adriel Bettelheim,6/16/2008,https://www.politifact.com/factchecks/2008/jun...
1,false,Matt Gaetz,"""Bennie Thompson actively cheer-led riots in t...",6/7/2022,television,Yacob Reyes,6/13/2022,https://www.politifact.com/factchecks/2022/jun...
2,mostly-true,Kelly Ayotte,"Says Maggie Hassan was ""out of state on 30 day...",5/18/2016,news,Clay Wirestone,5/27/2016,https://www.politifact.com/factchecks/2016/may...
3,false,Bloggers,"""BUSTED: CDC Inflated COVID Numbers, Accused o...",2/1/2021,blog,Madison Czopek,2/5/2021,https://www.politifact.com/factchecks/2021/feb...
4,half-true,Bobby Jindal,"""I'm the only (Republican) candidate that has ...",8/30/2015,television,Linda Qiu,8/30/2015,https://www.politifact.com/factchecks/2015/aug...

## Unify Label(F = 1, T = 0)

In [106]:
display(df_liar_dataset.head())
display(df_fake_news_dataset.head())
display(df_isot_dataset.head())
display(df_politifact_dataset.head())

,id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,0,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,1,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,2,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,0,Health care reform legislation is likely to ma...,health-care,blog-posting,,,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,1,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

,verdict,statement_originator,statement,statement_date,statement_source,factchecker,factcheck_date,factcheck_analysis_link
0,true,Barack Obama,John McCain opposed bankruptcy protections for...,6/11/2008,speech,Adriel Bettelheim,6/16/2008,https://www.politifact.com/factchecks/2008/jun...
1,false,Matt Gaetz,"""Bennie Thompson actively cheer-led riots in t...",6/7/2022,television,Yacob Reyes,6/13/2022,https://www.politifact.com/factchecks/2022/jun...
2,mostly-true,Kelly Ayotte,"Says Maggie Hassan was ""out of state on 30 day...",5/18/2016,news,Clay Wirestone,5/27/2016,https://www.politifact.com/factchecks/2016/may...
3,false,Bloggers,"""BUSTED: CDC Inflated COVID Numbers, Accused o...",2/1/2021,blog,Madison Czopek,2/5/2021,https://www.politifact.com/factchecks/2021/feb...
4,half-true,Bobby Jindal,"""I'm the only (Republican) candidate that has ...",8/30/2015,television,Linda Qiu,8/30/2015,https://www.politifact.com/factchecks/2015/aug...

In [107]:
set(df_isot_dataset['subject'].tolist())

{'Government News',
 'Middle-east',
 'News',
 'US_News',
 'left-news',
 'politics',
 'politicsNews',
 'worldnews'}

In [108]:
# display_whole_df(df_isot_dataset)

#### Liar Dataset (HuggingFace)

Labels
* '0': 'false'
* '1': half-true
* '2': mostly-true
* '3': 'true'
* '4': barely-true
* '5': pants-fire

New 
* Fake (false, barely-true, pants)= 1
* True (half-true, mostly-true, true)= 0

In [109]:
df_liar_dataset['label'].value_counts()

label
1    2638
0    2511
2    2466
4    2108
3    2063
5    1050
Name: count, dtype: int64

In [110]:
df_liar_dataset['label'] = df_liar_dataset['label'].replace([0,4,5], -1)
df_liar_dataset['label'] = df_liar_dataset['label'].replace([1,2,3], 0)
df_liar_dataset['label'] = df_liar_dataset['label'].replace([-1], 1)

In [111]:
df_liar_dataset = df_liar_dataset.rename(columns={'statement': 'text', 'speaker': 'author'})
df_liar_dataset = df_liar_dataset[[ 'text', 'label', 'author',
 'subject',
 'job_title',
 'state_info',
 'party_affiliation',
 'context']]
# Create metadata
df_liar_dataset = df_liar_dataset[['text', 'label',]].assign(metadata=df_liar_dataset.iloc[:,2:].agg(dict,1))

In [112]:
df_liar_dataset.head()

,text,label,metadata
0,Says the Annies List political group supports ...,1,"{'author': 'dwayne-bohac', 'subject': 'abortio..."
1,When did the decline of coal start? It started...,0,"{'author': 'scott-surovell', 'subject': 'energ..."
2,"Hillary Clinton agrees with John McCain ""by vo...",0,"{'author': 'barack-obama', 'subject': 'foreign..."
3,Health care reform legislation is likely to ma...,1,"{'author': 'blog-posting', 'subject': 'health-..."
4,The economic turnaround started at the end of ...,0,"{'author': 'charlie-crist', 'subject': 'econom..."

#### Fake News Dataset (Already F = 1, T = 0)
labels
* 1: unreliable
* 0: reliable

In [113]:
df_fake_news_dataset = df_fake_news_dataset[['text', 'label', 'author','title']]

In [114]:
# meta data
df_fake_news_dataset = df_fake_news_dataset[['text', 'label']].assign(metadata=df_fake_news_dataset.iloc[:,2:].agg(dict,1))

In [115]:
df_fake_news_dataset.head()

,text,label,metadata
0,House Dem Aide: We Didn’t Even See Comey’s Let...,1,"{'author': 'Darrell Lucus', 'title': 'House De..."
1,Ever get the feeling your life circles the rou...,0,"{'author': 'Daniel J. Flynn', 'title': 'FLYNN:..."
2,"Why the Truth Might Get You Fired October 29, ...",1,"{'author': 'Consortiumnews.com', 'title': 'Why..."
3,Videos 15 Civilians Killed In Single US Airstr...,1,"{'author': 'Jessica Purkiss', 'title': '15 Civ..."
4,Print \nAn Iranian woman has been sentenced to...,1,"{'author': 'Howard Portnoy', 'title': 'Iranian..."

#### ISOT Dataset (Labels done when importing )

labels 
* 0 == true 
* 1 == false

In [116]:
df_isot_dataset['author'] = None
df_isot_dataset = df_isot_dataset[['text', 'label', 'author', 'title', 'subject', 'date']]
# Create metadata column 
df_isot_dataset = df_isot_dataset[['text', 'label',]].assign(metadata=df_isot_dataset.iloc[:,2:].agg(dict,1))
df_isot_dataset.head()

,text,label,metadata
0,WASHINGTON (Reuters) - The head of a conservat...,0,"{'author': None, 'title': 'As U.S. budget figh..."
1,WASHINGTON (Reuters) - Transgender people will...,0,"{'author': None, 'title': 'U.S. military to ac..."
2,WASHINGTON (Reuters) - The special counsel inv...,0,"{'author': None, 'title': 'Senior U.S. Republi..."
3,WASHINGTON (Reuters) - Trump campaign adviser ...,0,"{'author': None, 'title': 'FBI Russia probe he..."
4,SEATTLE/WASHINGTON (Reuters) - President Donal...,0,"{'author': None, 'title': 'Trump wants Postal ..."

#### Politifact Dataset
* label: The verdict of fact check in one of 6 categories {true, mostly-true, half-true, mostly-false, false, and pants-fire}

In [117]:
df_politifact_dataset = df_politifact_dataset.rename(columns={'verdict': 'label', 'statement_originator':'author', 'statement': 'text'})

In [118]:
df_politifact_dataset['label'].value_counts()

label
false           5625
half-true       3597
mostly-false    3432
mostly-true     3332
pants-fire      2703
true            2463
Name: count, dtype: int64

In [119]:
df_politifact_dataset['label'] = df_politifact_dataset['label'].replace(['true', 'half-true', 'mostly-true'], 0)
df_politifact_dataset['label'] = df_politifact_dataset['label'].replace(['false', 'pants-fire', 'mostly-false'], 1)

In [120]:
df_politifact_dataset['label'].value_counts()

label
1    11760
0     9392
Name: count, dtype: int64

In [121]:
df_politifact_dataset = df_politifact_dataset[['text', 'label', 'author',
 'statement_date',
 'statement_source',
 'factchecker',
 'factcheck_date',
 'factcheck_analysis_link']]
df_politifact_dataset = df_politifact_dataset[['text', 'label']].assign(metadata=df_politifact_dataset.iloc[:,2:].agg(dict,1))
df_politifact_dataset.head()

,text,label,metadata
0,John McCain opposed bankruptcy protections for...,0,"{'author': 'Barack Obama', 'statement_date': '..."
1,"""Bennie Thompson actively cheer-led riots in t...",1,"{'author': 'Matt Gaetz', 'statement_date': '6/..."
2,"Says Maggie Hassan was ""out of state on 30 day...",0,"{'author': 'Kelly Ayotte', 'statement_date': '..."
3,"""BUSTED: CDC Inflated COVID Numbers, Accused o...",1,"{'author': 'Bloggers', 'statement_date': '2/1/..."
4,"""I'm the only (Republican) candidate that has ...",0,"{'author': 'Bobby Jindal', 'statement_date': '..."

In [122]:
display(df_liar_dataset.head())
display(df_fake_news_dataset.head())
display(df_isot_dataset.head())
display(df_politifact_dataset.head())

,text,label,metadata
0,Says the Annies List political group supports ...,1,"{'author': 'dwayne-bohac', 'subject': 'abortio..."
1,When did the decline of coal start? It started...,0,"{'author': 'scott-surovell', 'subject': 'energ..."
2,"Hillary Clinton agrees with John McCain ""by vo...",0,"{'author': 'barack-obama', 'subject': 'foreign..."
3,Health care reform legislation is likely to ma...,1,"{'author': 'blog-posting', 'subject': 'health-..."
4,The economic turnaround started at the end of ...,0,"{'author': 'charlie-crist', 'subject': 'econom..."

,text,label,metadata
0,House Dem Aide: We Didn’t Even See Comey’s Let...,1,"{'author': 'Darrell Lucus', 'title': 'House De..."
1,Ever get the feeling your life circles the rou...,0,"{'author': 'Daniel J. Flynn', 'title': 'FLYNN:..."
2,"Why the Truth Might Get You Fired October 29, ...",1,"{'author': 'Consortiumnews.com', 'title': 'Why..."
3,Videos 15 Civilians Killed In Single US Airstr...,1,"{'author': 'Jessica Purkiss', 'title': '15 Civ..."
4,Print \nAn Iranian woman has been sentenced to...,1,"{'author': 'Howard Portnoy', 'title': 'Iranian..."

,text,label,metadata
0,WASHINGTON (Reuters) - The head of a conservat...,0,"{'author': None, 'title': 'As U.S. budget figh..."
1,WASHINGTON (Reuters) - Transgender people will...,0,"{'author': None, 'title': 'U.S. military to ac..."
2,WASHINGTON (Reuters) - The special counsel inv...,0,"{'author': None, 'title': 'Senior U.S. Republi..."
3,WASHINGTON (Reuters) - Trump campaign adviser ...,0,"{'author': None, 'title': 'FBI Russia probe he..."
4,SEATTLE/WASHINGTON (Reuters) - President Donal...,0,"{'author': None, 'title': 'Trump wants Postal ..."

,text,label,metadata
0,John McCain opposed bankruptcy protections for...,0,"{'author': 'Barack Obama', 'statement_date': '..."
1,"""Bennie Thompson actively cheer-led riots in t...",1,"{'author': 'Matt Gaetz', 'statement_date': '6/..."
2,"Says Maggie Hassan was ""out of state on 30 day...",0,"{'author': 'Kelly Ayotte', 'statement_date': '..."
3,"""BUSTED: CDC Inflated COVID Numbers, Accused o...",1,"{'author': 'Bloggers', 'statement_date': '2/1/..."
4,"""I'm the only (Republican) candidate that has ...",0,"{'author': 'Bobby Jindal', 'statement_date': '..."

# Output

In [123]:
df_liar_dataset.to_feather('../data/politics/liar_dataset.feather')
df_fake_news_dataset.to_feather('../data/politics/fake_news_dataset.feather')
df_isot_dataset.to_feather('../data/politics/isot_dataset.feather')    
df_politifact_dataset.to_feather('../data/politics/politifact_dataset.feather')