In [1]:
# ! pip install datasets
# ! pip install pandas
# ! python.exe -m pip install --upgrade pip
# ! pip install matplotlib

In [2]:
from datasets import load_dataset
import pandas as pd
def pd_set_see_full_dataframe():
    # Permanently changes the pandas settings
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    # pd.set_option('display.max_colwidth', -1)

def pd_reset_options():
    # Resets the options
    pd.reset_option('all')

def display_whole_df(df):
    pd_set_see_full_dataframe()
    display(df)
    pd_reset_options()

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Gossipcorp

In [3]:
df_gossip_false = pd.read_csv('../../data/social_media/gossipcop/gossipcop_fake.csv')
df_gossip_true = pd.read_csv('../../data/social_media/gossipcop/gossipcop_real.csv')

In [4]:
df_gossip_true['label'] = 0
df_gossip_false['label'] = 1

In [5]:
df_gossip = pd.concat([df_gossip_true, df_gossip_false], axis=0, ignore_index=True)
df_gossip.head()

,id,news_url,title,tweet_ids,label
0,gossipcop-882573,https://www.brides.com/story/teen-mom-jenelle-...,Teen Mom Star Jenelle Evans' Wedding Dress Is ...,912371411146149888\t912371528343408641\t912372...,0
1,gossipcop-875924,https://www.dailymail.co.uk/tvshowbiz/article-...,Kylie Jenner refusing to discuss Tyga on Life ...,901989917546426369\t901989992074969089\t901990...,0
2,gossipcop-894416,https://en.wikipedia.org/wiki/Quinn_Perkins,Quinn Perkins,931263637246881792\t931265332022579201\t931265...,0
3,gossipcop-857248,https://www.refinery29.com/en-us/2018/03/19192...,I Tried Kim Kardashian's Butt Workout & Am For...,868114761723936769\t868122567910936576\t868128...,0
4,gossipcop-884684,https://www.cnn.com/2017/10/04/entertainment/c...,Celine Dion donates concert proceeds to Vegas ...,915528047004209152\t915529285171122176\t915530...,0

In [6]:
df_gossip['label'].value_counts()

label
0    16817
1     5323
Name: count, dtype: int64

In [7]:
df_gossip.rename(columns={'title':'text', 'news_url':'link'}, inplace=True)

In [8]:
df_gossip = df_gossip[['text', 'label']].assign(metadata=df_gossip.iloc[:,2:].agg(dict,1))
df_gossip.head()

,text,label,metadata
0,Teen Mom Star Jenelle Evans' Wedding Dress Is ...,0,{'text': 'Teen Mom Star Jenelle Evans' Wedding...
1,Kylie Jenner refusing to discuss Tyga on Life ...,0,{'text': 'Kylie Jenner refusing to discuss Tyg...
2,Quinn Perkins,0,"{'text': 'Quinn Perkins', 'tweet_ids': '931263..."
3,I Tried Kim Kardashian's Butt Workout & Am For...,0,{'text': 'I Tried Kim Kardashian's Butt Workou...
4,Celine Dion donates concert proceeds to Vegas ...,0,{'text': 'Celine Dion donates concert proceeds...

In [9]:
df_gossip.to_feather('../../data/social_media/gossipcop.feather')

ISOT Dataset

In [10]:
#### ISOT Dataset

# labels 
# * 0 == true 
# * 1 == false


df_isot_dataset_true= pd.read_csv("../../data/social_media/ISOT Dataset/True.csv")
df_isot_dataset_false= pd.read_csv("../../data/social_media/ISOT Dataset/Fake.csv")
df_isot_dataset_true.info(verbose=True)
df_isot_dataset_false.info(verbose=True)
df_isot_dataset_true['label'] = 0
df_isot_dataset_false['label'] = 1
df_isot_dataset = pd.concat([df_isot_dataset_true, df_isot_dataset_false], axis=0, ignore_index=True)
display(df_isot_dataset.head())
set(df_isot_dataset['subject'].tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

{'Government News',
 'Middle-east',
 'News',
 'US_News',
 'left-news',
 'politics',
 'politicsNews',
 'worldnews'}

In [11]:
#### ISOT Dataset (Labels done when importing )

df_isot_dataset['author'] = None
df_isot_dataset = df_isot_dataset[['text', 'label', 'author', 'title', 'subject', 'date']]
# Create metadata column 
df_isot_dataset = df_isot_dataset[['text', 'label',]].assign(metadata=df_isot_dataset.iloc[:,2:].agg(dict,1))
df_isot_dataset.head()

,text,label,metadata
0,WASHINGTON (Reuters) - The head of a conservat...,0,"{'author': None, 'title': 'As U.S. budget figh..."
1,WASHINGTON (Reuters) - Transgender people will...,0,"{'author': None, 'title': 'U.S. military to ac..."
2,WASHINGTON (Reuters) - The special counsel inv...,0,"{'author': None, 'title': 'Senior U.S. Republi..."
3,WASHINGTON (Reuters) - Trump campaign adviser ...,0,"{'author': None, 'title': 'FBI Russia probe he..."
4,SEATTLE/WASHINGTON (Reuters) - President Donal...,0,"{'author': None, 'title': 'Trump wants Postal ..."

In [12]:
df_isot_dataset.to_feather('../../data/social_media/isot_dataset.feather')